*
{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    background-color: rgb(0, 0, 0);
}

body
{
    height: 100vh;
}

canvas
{
    background: url("../IMG/back.jpg") no-repeat;
    background-size: cover;
}